/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[13].use[3]!./app/(router)/global.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
body {
  padding: 0;
  margin: 0;
  position: relative;
  width: 100vw;
  height: 100vh;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}
