/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./app/(router)/main.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
.main_img__8j3iC {
  z-index: -100;
  opacity: .5;
  position: relative;
}

.main_container__M6dhZ {
  max-width: 680px;
  padding-top: 5rem;
  margin: 0 auto;
}


