.slider {
  position: relative;
}

.arrow {
  position: absolute;
  color: #8f8f8f;
  top: calc(50% - 16px);
  z-index: 5;
  cursor: pointer;
}

.roundButton {
  background-color: white;
  border-radius: 100%;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.arrow:hover {
  color: black;
}

.arrow::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 10%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  );
  pointer-events: none;
}

.chlidrenContainer {
  overflow: hidden;
}

.children {
  display: flex;
  gap: 0.8rem;
  min-width: fit-content;
  transition: transform 0.5s ease-in-out;
}

@media screen and (max-width: 680px) {
  .arrow {
    position: absolute;
    color: #8f8f8f;
    top: calc(50% - 16px);
    right: 0;
    z-index: 5;
    cursor: pointer;
  }
  .children {
    gap: 1rem;
  }
}