.page {
  display: flex;
  gap: 3rem;
}

.weather {
  width: 680px;
}

.side {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

@media screen and (max-width: 680px) {
  .page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
    padding-bottom: 10rem;
  }
  
  .weather {
    width: 100vw;
    padding: 2rem 1.5rem 1rem 1.5rem;
  }

  .searchbar{
    display: none;
  }

  .tour {
    width: 100vw;
    padding: 0 1.5rem;
  }
}