.layout {
  height: 100vh;
  overflow-y: auto;
  padding-bottom: 5rem;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 8vh;
}

@media screen and (max-width: 680px) {
  .container {
    width: 85vw;
    margin-top: 5vh;
  }
}
