ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.logo-box {
    display: flex;
    align-items: center;
}

.logo {
    margin: 0;
    font-size: 1.45em;
    font-weight: bold;
    padding: 0px 0px 0px 20px;
    text-align: center;
}

.main-nav {
    display: flex;
    margin-top: 5px;
}


.header {
    display: flex;
    justify-content: space-between;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 0px 0px 10px 10px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
}
