.geolocation {
  display: flex;
  width: 60vw;
  justify-content: space-around;
  margin: 15vh auto;
  background-color: white;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.script {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1rem;
}

.item {
  flex-grow: 1;
  flex-basis: 400px;
}

.error {
  font-size: 1.2rem;
  font-weight: 600;
  color: red;
  margin-bottom: 0.45rem;
}

.errorContainer {
  margin-bottom: 1rem;
}

.title {
  font-size: 1.8rem;
  font-weight: 600;
}

.description span {
  font-weight: 600;
  font-size: 2.2rem;
}

.lottie {
  display: flex;
  justify-content: center;
  align-items: center;
}

.jumbo {
  margin-bottom: 1rem;
}

.jumbo p {
  font-size: 1.8rem;
  line-height: 2.8rem;
}

.emphasis {
  margin: 0.5rem 0 0.6rem 0;
  font-size: 2.5rem;
  font-weight: 600;
}

.small {
  font-size: 0.9rem;
  line-height: 1.3rem;
  margin-bottom: 1rem;
}

.manual {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  color: #8f8f8f;
  text-align: center;
}

.button {
  display: flex;
  justify-content: center;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

.green {
  color: green;
}

.gray {
  color: indigo;
}

@media screen and (max-width: 680px) {
  .geolocation {
    margin: 5vh auto;
    width: calc(100% - 2rem);
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 5rem;
  }
  .item {
    flex-basis: 0;
  }
  .emphasis {
    text-align: center;
  }
  .jumbo {
   text-align: center;
  }
  .small {
    text-align: center;
  }
}
